<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}MealManager{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url "home" %}">
                {% load static %}
                <img src="{% static "logo_icon.jpg" %}" alt="" width="30" height="24" class="d-inline-block align-top">
                MealManager
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">
                                User: {{ request.user.username }}</a>
                        </li>
                    {% endif %}

                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "logout" %}" tabindex="-1" aria-disabled="false">
                                Abmelden</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "login" %}" tabindex="-1" aria-disabled="true">
                                Anmelden</a>
                        </li>
                    {% endif %}
                    {% if user.is_authenticated %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "register" %}" tabindex="-1" aria-disabled="true">
                                Registrieren</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% load static %}
    <img src="{% static "logo_big.png" %}" alt="" width="350" height="300" class="rounded mx-auto d-block">
</header>
{% block content %}{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>